<h1>Editing inventory transaction</h1>

<%= render "form", inventory_transaction: @inventory_transaction %>

<br>

<div>
  <%= link_to "Show this inventory transaction", @inventory_transaction %> |
  <%= link_to "Back to inventory transactions", inventory_transactions_path %>
</div>
