<div id="<%= dom_id report %>">
  <p>
    <strong>Role:</strong>
    <%= report. role %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= report. supplier %>
  </p>

  <p>
    <strong>User:</strong>
    <%= report. user %>
  </p>

</div>
